# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
my-design-system/pm-debug.log*
my-design-system/arn-debug.log*
my-design-system/arn-error.log*
my-design-system/npm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vscode
# Added by code-review-graph
.code-review-graph/
references
